// Define variables for your color scheme

// For example:
$red: #c05253;
$blue: #5ec4e1;
$yellow: #ffe9c1;
$orange: #E67E22;
$green: #a5ba00;
$gray: #a4a4a4;
$light-gray: #bfbfbf;
$white: white;
$black: black;
$lighter-gray: #EAEAEA;

$button-color: #89C2B7;

// #829C7C
// #89C2B7

$background-color-pages: #BCD0C4;

// #C8D9D3
// #BCD0C4
// #C0C8B3

$navbar-color: #ffffffa0;

$bookmark-color: #3b8b6c;

$easy-color: #44AB9B;
$medium-color: #E3B45D;
$difficult-color: #DC5432;

$star-color: #F9AE00;

$heart-color: #EE5D73;
