<div id="footer">
  <a style="font-size: large;">All illustrations belong to ©Natuurbuur</a>
  <div class="media-logo" style="padding-right: 60px;">
    <a href="https://github.com/Helendeweser/rails-natuurbuur"  target=”_blank”><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/natuurbuur.be/" target=”_blank”><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Natuurbuur/" target=”_blank”><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/natuurbuur/" target=”_blank”><i class="fab fa-linkedin"></i></a>
  </div>
 </div>
