<%# FIRST DIV FOR THE WHOLE BANNER CONTAINING THE PICTURE%>
<div id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1423600/pexels-photo-1423600.jpeg);height: 105px;">
  <div class="container">

    <%# MAIN TITLE WITH BRAND NAME AND CATCH PHRASE ON THE LEFT %>
    <div class="banner-text" style="margin-top: -55px;">
      <h1>Welcome to <strong>Upgreen</strong> !</h1>
      <p>The place for finding your perfect environmental solutions</p>
    <div class="searchbar-banner">

      <%# SEARCH BAR PART %>
      <div class="row align-items-center" style="background-color: #fff9; border-radius: 25px; width: max-content;">
        <%# SEARCH BAR %>
        <div class="col-md-2" style="display: flex;">
          <%= form_with url: root_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search a solution"%>
            <%= submit_tag "O", class: "btn" %>
          <% end %>
<%#         <input class="search_input" type="text" name="" placeholder="Search..." style="width: 120px;">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a> %>
        </div>

        <%# FILTER BAR PART %>
        <div class="col-md-2">
          <div class="form-group" style="border-right: 1px solid grey; border-left: 1px solid grey;">

            <div id="inputState" class="form-control" style="background-color: #fff0; color: black;font-weight: bold;">
              <%= select("solution", "category", ['Garden - green', 'Garden - blue', 'Roof', 'Facade', 'Pavement', 'Street', 'Balcony/terrace'], {}, { :prompt => 'Select category' }) %>
            </div>

            <%# <% select("solution", "difficulty", ['Easy', 'Medium', 'Difficult'], {}, { :prompt => 'Select difficulty' }) %>


          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" style="border-right: 1px solid grey;">
            <select id="inputState" class="form-control" style="background-color: #fff0;color: black;font-weight: bold;">
              <option selected>Difficulty :</option>
              <option>Easy</option>
              <option>Medium</option>
              <option>Hard</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" style="border-right: 1px solid grey;">
            <select id="inputState" class="form-control" style="background-color: #fff0;color: black;font-weight: bold;">
              <option selected>Popularity :</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" style="border-right: 1px solid grey;">
            <select id="inputState" class="form-control" style="background-color: #fff0;color: black;font-weight: bold;">
              <option selected> Price : </option>
              <option>Less than 500€</option>
              <option>500€ - 1000€</option>
              <option>1000€ - 1500€</option>
              <option>1500€ - 2000€</option>
              <option> More than 2000€</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select id="inputState" class="form-control" style="background-color: #fff0;color: black;font-weight: bold;">
              <option selected> Rating :</option>
              <option>1 star</option>
              <option>2 stars</option>
              <option>3 stars</option>
              <option>4 stars</option>
              <option>5 stars</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
  </div>
<%# SEARCH BAR AND FILTER BAR %>
