#banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100%;
  margin-bottom: 30px;
  width: 100vw !important;
  margin-left: -70px;

}

#banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
}

.form-arrow {
  display: flex;
  flex-direction: column;
  width: 59%;
  height: fit-content;
}
#banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  width: max-content;
}

.banner-text {
  position: absolute;

  .form-control {
    border: 1px solid #ced4da00;
    width: 180px;
    background-color: #bfbfbf00;
    color: black;
    font-weight: bold;
    border-right: 1px solid gray;
    font-weight: inherit;
  }

  .search-btn {
    margin: auto;
  }
}
.search-btn {
  width: 22px;
  height: 22px;
  transition: transform .1s;
}

.search-btn:hover{
  transform: scale(1.2);
  }

.arrow_down_logo {
  width: 22px;
  height: 22px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
