.cards-map {
  display: flex;
  justify-content:space-between;
}

.arrow {
  margin-left: 200px;
  b {
    margin-top: 55px;
    font-size: xx-large;
    color: $bookmark-color;
  }

  img {
    filter: invert(42%) sepia(67%) saturate(333%) hue-rotate(105deg) brightness(96%) contrast(86%);
  }
}

.arrow-grid {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}
