.cards-index {

  grid-gap: 12px;
  margin-bottom: 20px;
  width: 100%;
  flex-grow: 1;
}

.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.my-solutions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  text-decoration: none;
  color: $body-color;
}

a:hover {
  color: rgb(66, 66, 66);
}

@media(max-width: 1400px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 768px) {
  .cards-index {
    grid-template-columns: 1fr;
  }

  .rounded-pictures {
    height: 180px;
    width: 180px;
  }
}
