.cards-index {
  grid-gap: 12px;
  margin-bottom: 20px;
  width: 100%;
  flex-grow: 1;

}

.img-no-results{
  margin-top: 80px;
  filter: invert(42%) sepia(67%) saturate(333%) hue-rotate(105deg) brightness(96%) contrast(86%);
}

.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.my-solutions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
  text-decoration: none;
  color: $body-color;
}

a:hover {
  color: rgb(66, 66, 66);
}


@media(max-width: 2213px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 1723px) {
  .cards-index {
    grid-template-columns: 1fr 1fr;
  }
}


@media(max-width: 1417px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 768px) {
  .cards-index {
    grid-template-columns: 1fr;
  }

  .rounded-pictures {
    height: 180px;
    width: 180px;
  }
}
