.formbutton {
  background-color: rgb(117, 176, 117);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  width: 335px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.formbutton:hover {
  filter: brightness(95%);
  text-decoration: none;
  color: white;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
