.form-card {
  width: 40%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-container {
  display: flex;
  justify-content: center;
  .form-box {
    background-color: $white;
    width: 40%;
    margin: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
    color: $black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
   }

   .form-control {
    background-color: $white;
  }

   .form-control:focus {
    background-color: $white;
   }

   h2{
    text-align: center;
  }
}
