.navbar {
  justify-content: space-between;
  background-color: #ffffff7a;
  padding: 10px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.house-logo i {
  width: 40px;
  text-decoration: none;
  color: #606060;
}

.house-logo i:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
