.navbar {
  justify-content: space-between;
  background: linear-gradient(#000, #0000);
  position: sticky;
  z-index: 1;
  position: fixed;
  width: 100vw;
}

.all-logos-navbar {
  display: flex;
  margin-right: 60px;
}

.logo-navbar {
  text-decoration: none;
  color: #ffffff;
  display: grid;
  padding: 10px;
  text-align: center;
}

.logo-navbar i:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  color: rgb(95, 95, 95);
}

.house {
  margin-left: 60px;
}
