.show-card {
  border:1px solid gray;
  background-color: $white;
  width: 1200px;
  height: fit-content;
  padding: 30px;
  margin: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.experiences-card {
  display: flex;
  justify-content: space-between;
  border:1px solid gray;
  background-color: $white;
  width: 1200px;
  height: fit-content;
  padding: 30px;
  margin: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.experiences-display {
  background-color: $white;
  padding-right: 30px;
  padding-bottom: 40px;
  color: $black;
}

.form {
  background-color: $white;
  width: 450px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-top: 40px;
  color: $black;
}

.card-review {
  display: grid;
  grid-template-columns: 1fr 370px 0.1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas:
    ". . .";
  justify-content: start;
  justify-items: start;
  width: fit-content;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-review p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 20px;
}

.card-review-infos {
  p {
    padding-left: 0px;
  }
}

.rating {
  position: relative;
  justify-content: space-between;
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
  p{
    margin-bottom: 100px;
    margin-left: 10px;
    padding: 0px;

  }
  a {
    color: red;
  }
}

.form-control {
  width: 100%;
  border: 1px solid #ced4da;
  background-color: inherit;
}

.container-img {
  width: 205px;
  overflow: hidden;
}

.container-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

#show_card-price {
  text-align: end;
}

.icon-left-sp {
  margin-left: -27px;
}
