#title-show {
  h1 {
    margin: 0 auto;
  }
}

.show-card {
  border:1px solid gray;
  background-color: $white;
  width: 80%;
  min-width: 1089px;
  height: fit-content;
  padding: 30px;
  margin: 30px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;

  h4 {
    margin-top: 20px;
  }
}

.experiences-card {
  display: flex;
  justify-content: space-between;
  border:1px solid gray;
  background-color: $white;
  width: 80%;
  height: fit-content;
  padding: 30px;
  margin: 30px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  min-width: 1089px;
  position: relative;
  z-index: 0;
}

.experiences-display {
  background-color: $white;
  padding-right: 30px;
  padding-bottom: 40px;
  margin-top: 20px;
  color: $black;
}

.form {
  background-color: $white;
  width: 630px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
  color: $black;
  margin-top: 35px;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 5px 2px;
  height: fit-content;
}

.orange-arrow {
  width: 100px;
  height: 100px;
}

.card-review {
  display: grid;
  grid-template-columns: 1fr 370px 0.1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas:
    ". . .";
  justify-content: start;
  justify-items: start;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 5px 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-review p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 8px;
  margin-bottom: 10px;
}

.card-review-infos {
  padding-left: 20px;
  b {
  font-family: 'Zeyada', cursive;
  font-size: 28px;
  }
}

.rating {
  position: relative;
  justify-content: space-between;
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
  p{
    margin-bottom: 100px;
    margin-left: 10px;
    padding: 0px;

  }
  a {
    border:#aa7171;
    color:#aa7171;
  }
}

.form-control {
  width: 100%;
  border: 1px solid #ced4da;
  background-color: inherit;
}

.container-img {
  width: 233px;
  overflow: hidden;
}

.container-img img {
  max-width: 100%;
  height: 100%;
  display: block;
}


#show_card-price {
  text-align: end;
}

.icon-left-sp {
  margin-left: -27px;
}

.quotation_mark {
  width: 12px;
  height: 12px;;
}

.orange-arrow-box{
display: flex;
justify-content: center;
margin-top: 10px;
margin-bottom: 60px;

  .orange-arrow{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
}
