.image_card {
  display: flex;
  border:1px solid gray;
  background-color: $light-gray;
  border-radius: 5px;
  .show-image {
    width: 500px;
  }
}

.text_card {
  margin-top: 10px;
  margin-bottom: 10px;
}
