.image-card {
  display: flex;
  border:1px solid gray;
  background-color: $lighter-gray;
  border-radius: 5px;
  .show-image {
    width: 500px;
  }
}

.text-card {
  margin-top: 10px;
  margin-bottom: 10px;
  p{
    font-size: 1.05em;
    white-space: pre-line;
  }

}

.side-text {
  margin: 40px;
  p{
    font-size: 1.0em;
  }
}
