.small-card {
  height: 415px;
  // width: 300px;
  font-weight: bold;
  border-radius: 5px;
  border:1px solid gray;
  margin-top: 20px;
  text-align: center;
  background-color: white;
  padding: 20px;
  position: relative;

  .fa-bookmark {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: orange;
  }
  .content-small-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;

    h3 {
      margin-top: 12px;
    }

    .details-small-card {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      bottom: 0;

      p {
        margin-bottom: 0;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }

      .icons-details-small-card {
        display: flex;
        justify-content: space-between;
        width: 60%;

        .fa-face-smile {
          color: $green;
        }
        .fa-face-meh {
          color: $orange;
        }
        .fa-face-frown {
          color: $red;
        }

        .fa-comment {
          color: $green;
        }

        .fa-star {
          color: $orange;
        }

        .fa-heart {
          color: $red;
        }
      }
    }
  }
}
