<%# BANNER %>
<%= render "shared/homepage_searchbar" %>

<%# CARDS INDEX %>
  <div class="cards-index">
    <% @solutions.each do |solution| %>
      <%# SMALL CARD: EVERYTHING CENTERED %>
      <%= render "card", solution:solution %>
    <% end %>
  </div>
